.navbar {
	background-color: #1666ba;
	box-shadow: 0 2px 4px #7ab3ef;
}

.nav-link {
	color: white;
	font-size: 18px;
	transition: color 0.3s ease-in-out;
}

.active {
	color: #00fff9  !important;
	font-weight: bold;
}
.nav-link:hover,
.nav-link:focus {
	color: #00fff9 ;
}

.navbar-brand {
	color: #757575;
	font-size: 24px;
	font-weight: bold;
}

.navbar-toggler {
	border-color: #666666;
}
