.navbar {
	background-color: #1666ba;
	box-shadow: 0 2px 4px rgb(164, 211, 107);
}

.nav-link {
	color: white;
	font-size: 18px;
	transition: color 0.3s ease-in-out;
}

.active {
	color: #89ff00 !important;
	font-weight: bold;
}
.nav-link:hover,
.nav-link:focus {
	color: #a4d36b;
}

.navbar-brand {
	color: #757575;
	font-size: 24px;
	font-weight: bold;
}

.navbar-toggler {
	border-color: #666666;
}
