.buttonOutline {
	background: transparent;
	font-weight: 600;
	font-size: 1.25rem;
	color: #00923f;
	cursor: pointer;
	border: 0;
}
.buttonOutline:hover {
	color: #da251c;
	transition: background-color 0.6s;
}
