.buttonOutline {
	background: transparent;
	font-weight: 600;
	font-size: 1.25rem;
	color: #1666ba;
	cursor: pointer;
	border: 0;
}
.buttonOutline:hover {
	color: #7ab3ef;
	transition: background-color 0.6s;
}
